@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

:root {
  --bs-font-sans-serif: 'Roboto flex';
  --card-box-shadow: 0 1px 2px 0 rgba(61, 65, 68, 0.06), 0 1px 3px 1px rgba(61, 65, 68, 0.16);
}
h1 {
  color: #f11;
}

[data-bs-theme='dark'] h1 {
  color: #1f1;
}


/* HEADINGS */

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

h5 {
  font-size: 14px;
  padding: 10px 0px;
}

article h2,
article h3,
article h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

article h4 {
  padding-bottom: 8px;
  border-bottom: 2px solid #ddd;
}


/** NAVBAR **/
.navbar-nav > li > a,
.navbar-text {
  border-bottom: 3px solid yellowgreen;
  padding-bottom: 12px;
  transition: 350ms;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-bottom: 3px solid red;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus.active,
.navbar-nav > li > a:hover.active{
  border-bottom: 3px solid rebeccapurple;
}


/** ALERTS **/
.alert {
  padding: 0px 0px 5px 0px;
  color: inherit;
  background-color: inherit;
  border: none;
  box-shadow: var(--card-box-shadow);
}

.alert > p {
  margin-bottom: 0;
  padding: 5px 10px;
}

.alert > ul {
  margin-bottom: 0;
  padding: 5px 40px;
}

.alert > h5 {
  padding: 10px 15px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

.alert-info > h5 {
  color: #1976d2;
  border-bottom: 4px solid #1976d2;
  background-color: #e3f2fd;
}

.alert-warning > h5 {
  color: #f57f17;
  border-bottom: 4px solid #f57f17;
  background-color: #fff3e0;
}

.alert-danger > h5 {
  color: #d32f2f;
  border-bottom: 4px solid #d32f2f;
  background-color: #ffebee;
}

/* CODE HIGHLIGHT */
code {
  border-radius: 10px;
  margin: 4px 2px;
  box-shadow: var(--card-box-shadow);
}